<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>16510907992-1rre0iqk91d75f5sp4jtbe22maomuc7k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16510907992-1rre0iqk91d75f5sp4jtbe22maomuc7k</string>
	<key>API_KEY</key>
	<string>AIzaSyCW1E1dvshGNl3MAiJY9GvRIYLI61qXzHs</string>
	<key>GCM_SENDER_ID</key>
	<string>16510907992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>neat-org.servicely</string>
	<key>PROJECT_ID</key>
	<string>servicely-app</string>
	<key>STORAGE_BUCKET</key>
	<string>servicely-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16510907992:ios:9df0dda70f85cc02</string>
	<key>DATABASE_URL</key>
	<string>https://servicely-app.firebaseio.com</string>
</dict>
</plist>